* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
    font-family: Roboto;
}

ul {
    display: flex;
    gap: 16px;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 12px;
}

header .logo {
    font-size: 24px;
}

header ul li {
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header, .hero {
    background-color: #1F2937;
    color: white;
}

a {
    color: white;
}

.hero {
    height: 300px;
}

.hero .text {
    width: 370px;
}

.hero .text h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero .text h1, .hero .text p {
    margin-bottom: 8px;
}

.hero .text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .text .signup {
    font-size: 16px;
    border-radius: 8px;
    padding: 6px 28px;
    background-color: #3882F6;
    color: white;
}